/* Страница контактов */
.contact-info-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-item svg {
    margin-right: 1rem;
}

.contact-form-section {
    margin-top: 3rem;
}

.contact-form {
    max-width: 600px;
    margin: 1.5rem 0;
}

/* Стили для балуна Яндекс Карты */
.ymaps-2-1-79-balloon__content {
    font-family: 'Open Sans', sans-serif !important;
}

.ymaps-2-1-79-balloon__content h3 {
    color: var(--primary-dark) !important;
    margin: 0 0 8px !important;
}

.ymaps-2-1-79-balloon__content p {
    margin: 0 0 8px !important;
}
